<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="%%WIDGET_ID%%" version="1.0.0" viewmodes="maximized">
<icon src="appicon.png"/>
<content src="index.html"/>
<name>%%WIDGET_NAME%%</name>
<tizen:application id="%%APP_ID%%" package="%%PACKAGE_ID%%" required_version="2.1"/>
%%FEATURES_LIST%%
</widget>
